*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    margin: 10px 20px;
    height: 150px;
    background-color: lightgrey;
    border: 1px solid black;
}

.block{
    height: 100px;
    width: 200px;
    background-color: grey;
    border: 1px solid black;
    margin: 25px 20px 25px 20px;
}

.left{
    float: left;
}

.right{
    float: right;
}


.custom-block-item{
    height: 50px;
    width: 200px;
    background-color: grey;
    border: 1px solid black;
    margin: 15px 20px 12px 20px;
}
